$out-time: 240ms;

.__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    .my-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0d0a31;
        opacity: .85;
        &.my-open {
            animation: my-mask-in 300ms ease-in-out;
        }
        &.my-close {
            animation: my-mask-out $out-time ease-in-out;
            animation-fill-mode: forwards;
        }
    }

    .my-modal-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

    .my-modal-content {
        &.default {
            border-radius: 4px;
            width: 600px;
            background: #fff;
            margin: 50px auto;
        }

        &.my-open {
            animation: my-fade-in 300ms ease-in-out;
        }
        &.my-close {
            animation: my-fade-out $out-time ease-in-out;
            animation-fill-mode: forwards;
        }
    }

    .my-modal-header {
        position: relative;

        .my-close-btn {
            position: absolute;
            top: 5px;
            right: -33px;
            width: 10px;
            height: 10px;
        }

        .my-close-btn-icon {
            cursor: pointer;
            display: inline-block;
            transform: scale(2.5) rotate(45deg);
            color: #fff;
        }
    }

    .my-modal-title {
        padding: 15px;
        font-size: 14px;
        color: #aaa;
        border-bottom: 1px solid #e8e8e8;
    }

    .my-modal-body {
        padding: 15px;
        border-bottom: 1px solid #e8e8e8;
    }

    .my-modal-footer {
        text-align: right;
        padding: 15px;
    }

    .no-border {
        .my-modal-header, .my-modal-body {
            border-bottom: none;
        }
    }
}

@keyframes my-mask-in {
    from {
        opacity: .15;
    }
    to {
        opacity: .85;
    }
}

@keyframes my-mask-out {
    from {
        opacity: .85;
    }
    to {
        opacity: .15;
    }
}

@keyframes my-fade-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes my-fade-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
