.__modal {
    .full-dialog-content {
        position: relative;
        width: 80%;
        height: calc(100% - 100px);
        background: #fff;
        margin: 50px auto;
        border-radius: 4px;

        display: flex;
        flex-direction: column;

        .my-modal-body {
            flex: 1;
            overflow: auto;
        }
    }

}
