.__input-text-count {
    margin-top: 5px;
    text-align: right;
    color: gray;
    font-size: 12px;
}

.__input {
    line-height: 1;
    width: 100%;
    color: #333;
    border: 1px solid #cfdadd;
    border-radius: 3px;
    padding: 7px 10px;
    outline: none;

    &:focus {
        border: 1px solid #00a854;
    }

    &.invalid {
        border: 1px solid #d9534f;
    }
}
